<div class='row'>
  <div class='column'>
      <span class='compcaption'>Cache Terminal Commands</span>
    <mat-form-field style='width: 100%'>
        <input matInput
                title='Enter (with squarebrackets) "[Healthshare]/filepath/filename.type"
                to indicate the default healthshare installation
                path for the target environment.
                For example, IDEVs install dir is /app01/idev/hie/healthshare.
                Enter [Namespace] to translate to TargetConfig.DefaultNamespace value.
                This is only necessary if command string includes target-specific namespace.'
                placeholder='SSH Command'
                #newitem (keyup.enter)='checkSyntax(newitem)'
                newitem.value=''
                style='min-width:15em;'>
        <button #addbutton mat-stroked-button matSuffix (click)='checkSyntax(newitem)' color='primary'>Add</button>
        <span #syntaxerror
              id='syntaxerror'
              class='codestyle'
              syntaxerror.value=''
              style='color:red;display: none;'>
        </span>
    </mat-form-field>
    <div id='commandlistdiv'>
      <mat-list dense span='margin-top:2em'>
        <mat-list-item *ngFor='let command of CommandAry; let i=index'>
            <span class='codestyle' style='width:90%; word-wrap: break-word;'>{{command}}</span>
            <span style='display: inline-flex;'>
              <i (click)='editItem(i,command)' class='fa fa-edit'></i>
              <i (click)='removeItem(i)' class='fa fa-remove'></i>
            </span>
       </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

