<div class='listcontainer'>
    <span class='compcaption'>History List - Click a record to populate form.</span>
    <mat-form-field>
        <input matInput (keyup)='applyFilter($event.target.value)' placeholder='Filter'>
    </mat-form-field>
    <table mat-table
          [dataSource]='dataSource'
          hover='true'
          class='mat-elevation-z8'
          dense
          matSort
          matSortActive='LogDate'
          matSortDirection='desc'
      >
      <ng-container matColumnDef='logDate'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
        <td mat-cell
            *matCellDef='let element'
            style='width:75px;'>
          <span>{{element.LogDate}} {{element.LogTime}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef='description'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef='let element'>
            <span>{{element.Description}}</span>
          </td>
        </ng-container>
      <ng-container matColumnDef='commandList'>
        <th mat-header-cell *matHeaderCellDef> Commands </th>
        <td mat-cell
            *matCellDef='let element'
            title='{{element.CommandStringList}}'>
          <span style='word-break: break-all'>{{element.CommandStringList}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef='fileList'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> File List </th>
        <td mat-cell *matCellDef='let element'>
          <span style='word-break: break-all'>{{element.SourceFileList}}</span>
          <span style='word-break: break-all'>{{element.DestinationFileList}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef='targetGroup' >
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header style='max-width: 100px'> Target Group </th>
          <td mat-cell *matCellDef='let element'
              style='max-width: 100px'>
            <span>{{element.TargetGroup}}</span>
          </td>
      </ng-container>
      <ng-container matColumnDef='removeRecord'>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell
             *matCellDef='let element'
             (click)='removeRecord($event,element.RowId);'>
            <i class='fa fa-remove'></i>
          </td>
      </ng-container>
      <tr mat-header-row
          *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row
          *matRowDef='let row; columns: displayedColumns;'
          (click)='selectRow(row)'>
      </tr>
    </table>
    <mat-paginator #paginator
                   showFirstLastButtons
                   [pageSizeOptions]='[5, 10, 25, 100]'
                   [pageIndex]=0
                   [pageSize]=5>
    </mat-paginator>
  </div>
