<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<div class='stickyheader'>
    <h1>{{title}}</h1>
  <div class='stickyheaderdiv'>
    <ul style='list-style-type: none;'>
      <li>
        <mat-form-field class='example-full-width' style='width: 70% !important'>
          <input
            matInput
            dense
            placeholder='Description'
            #description>
        </mat-form-field>
        <button
          mat-raised-button
          style='margin-left: 10px; vertical-align: top;'
          color='primary'
          (click)='submit($event)'>Submit
        </button>
        <button
          mat-raised-button
          style='margin-left: 10px; vertical-align: top;'
          color='primary'
          (click)='clearForm()'>Clear Form
        </button>
        <button
          mat-raised-button
          [matMenuTriggerFor]='deployselect'
          title='This will open deploy page in new tab'
          style='margin-left: 10px; vertical-align: top;'
          color='primary'>Deploy Page
        </button>
        <mat-menu #deployselect>
          <button mat-button color='primary'
                  *ngFor='let target of targets'
                  [value]='target'
                  (click)='onClickDeployTarget(target)'>
                  {{target.HostName}}
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</div>
<div style='margin-top:50px'>
  <div class='compleft'>
      <div class='container'>
        <app-target-list
          [GroupName]='SubmitList.TargetGroup'
          (sendDataToParent)='updateTargetGroup($event)'
          ></app-target-list>
      </div>
      <div class='container'>
        <app-command-list
          [CommandList]='SubmitList.CommandStringList'
          (sendDataToParent)='updateCommandList($event)'
          ></app-command-list>
      </div>
      <div class='container'>
          <app-file-list
            [srcFileList]='SubmitList.SourceFileList'
            [destFileList]='SubmitList.DestinationFileList'
            (sendDataToParent)='updateFileList($event)'
            ></app-file-list>
      </div>
      <div class='container'>
          <app-trak-layout
            [LogRowId]='LogRowId'
            (sendLogRowId)='updateLogRowId($event)'
            (sendDataToParent)='updateApplyTrakLayout($event)'
          ></app-trak-layout>
      </div>
      <div class='container'>
        <app-terminal></app-terminal>
      </div>
  </div>
  <div class='compright'>
    <div class='container'>
      <app-history-list
        [submitted]='Submitted'
        (sendDataToParent)='eventFromChild($event)'>
      </app-history-list>
    </div>
    <div class='container'>
      <app-output-display
        [LogRowId]='LogRowId'
        [SessionLogText]='SessionLogText'
        [SessionLog]='SessionLog'
        [ProcessComplete]='ProcessComplete'
        [interval]='Interval'
        [submitted]='Submitted'
        (sendDataToParent)='updateSessionLog($event)'>
      </app-output-display>
    </div>
</div>
