<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<div class='stickyheader'>
  <h1 style='text-align: left;font-size:1em; float: right; margin-left: 10px;margin-right: 30px; margin-top: 6px;'>{{title}}
      <input matInput
      placeholder='Description'
      #description
      style='min-width:15em;'>
    <button mat-raised-button
            color='primary'
            (click)='submit($event)'>Submit
    </button>
  </h1>
</div>
<div style='margin-top:50px'>
  <div class='compleft'>
      <div class='container'>
        <app-target-list
          [GroupName]='SubmitList.TargetGroup'
          (sendDataToParent)='updateTargetGroup($event)'
          ></app-target-list>
      </div>
      <div class='container'>
        <app-command-list
          [CommandList]='SubmitList.CommandStringList'
          (sendDataToParent)='updateCommandList($event)'
          ></app-command-list>
      </div>
      <div class='container'>
          <app-file-list
            [srcFileList]='SubmitList.SourceFileList'
            [destFileList]='SubmitList.DestinationFileList'
            (sendDataToParent)='updateFileList($event)'
            ></app-file-list>
      </div>
  </div>
  <div class='compright'>
    <div class='container'>
      <app-history-list
        [submitted]='Submitted'
        (sendDataToParent)='eventFromChild($event)'>
      </app-history-list>
    </div>
  </div>
</div>


